* {box-sizing: border-box;}

html {
    font-size: 0.625rem;  
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.5; /* the default of 1 is too crushed. Start at 1.5 and play around*/
}

/*good idea on all sites to default all images to this. And display:block can solve an occasional spacing issue.
But can also cause others, so keep in mind*/
img {
    max-width: 100%;
    width: 100px;
}

/* ============================================================================================
===============================================================================================
    TYPOGRAPHY       ==========================================================================
===============================================================================================
=============================================================================================== */


h1, h2, .hero-js, .hero-html, .hero-css, strong, .lingo {
    /* Good idea to stop you later typing 'bold' and forgetting it only goes up by 100pts */
    font-weight: 700;
}

h3, .semibold {
    font-weight: 600;
}

h1, .hero-js, .hero-html, .hero-css {
    font-size: 12rem;
    margin: 0;
    padding: 0;
    /* line-height: 18.8rem; */
}

.hero-js, .hero-html, .hero-css {
    letter-spacing: -5px;
    text-align: right;
}

.stroke-text{
    -webkit-text-fill-color:transparent;
  }

.hero-js {
    -webkit-text-stroke: 8px #BCA736f4;
    grid-column: 5/-2;
    grid-row: 1;
}

.hero-html {
    -webkit-text-stroke: 8px #DD4B25f4;
    grid-column: 8/-2;
    grid-row: 2;
}

.hero-css{
    -webkit-text-stroke: 8px #254BDDd4;
    grid-column: 8/-2;
    grid-row: 3;
}

h1 {
    text-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);
}

.hi {
    grid-column: 2/4;
    grid-row: 2;
}

.chris {
    grid-column: 2/7;
    grid-row: 3;
}

.logothetis {
    grid-column: 2/8;
    grid-row: 4;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 3.0rem;
}

p {
    font-size: 1.6rem;
    line-height: 180%;
}

a {
    color: #254BDD;
    text-decoration: none;
}

/* ============================================================================================
===============================================================================================
   LAYOUT - MOBILE FIRST   ====================================================================
===============================================================================================
=============================================================================================== */

/* ==================
    general layout
===================== */

.main-grid {
    /* minmax on narrow, outer columns a good start. Then 260-500 screen size 
    smallest device are over 300, so could be 0 really */
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

/* navigation */

.header-background {
    background: linear-gradient(90.01deg, #EACD37 0.01%, #DD4B25 49.17%, #254BDD 99.36%);

}

.header {
    /* background-color: #404040; */
    width: 100%;
    /* background: linear-gradient(90.01deg, rgba(234, 205, 55, 0.4) 0.01%, rgba(221, 75, 37, 0.408) 49.17%, rgba(37, 75, 221, 0.408) 99.36%); */
}

.header-home {
    /* background: linear-gradient(90.01deg, rgba(234, 205, 55, 0.4) 0.01%, rgba(221, 75, 37, 0.408) 49.17%, rgba(37, 75, 221, 0.408) 99.36%); */
    /* position: absolute; */
    width: 100%; /*without this the absolute header would stretch 
    the whole screen and not align with the coloumns below*/
}

.header-content {
    display: flex;
    grid-column: 2/-2;
}

.logo-link {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    min-width: 10em;
    min-height: 3.5em; 
}

.nav {
    position: fixed; /* for mobile, to cover screen when pops out*/
    background: #000;
    width: 100%;
    /* 0 0 0 0 fills the screen with background color*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms; 
}

.navigation-open { 
    transform: translateX(-100%);
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* 100% height spreads the three links the length of the viewport*/
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 4.8rem;
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
    color: #EACD37;
}

.close-nav {
    border: 0;
    background: 0;
    color: #EACD37;
    font-weight: 700;
    font-size: 4.8rem;
    cursor: pointer;
    padding: .8em;
    position: absolute; /*otherwise it pushes the three links down and user needs to scroll*/
}

.open-nav {
    border: 0;
    background: 0;
    color: #fff;
    cursor: pointer;
    padding: .8em;
    margin-left: auto;
    font-size: 2.4em;
}

.current {
    border-bottom: 1px solid #FFE600;
}

@media (min-width: 600px) {
    .open-nav,
    .close-nav {
        display: none;
    }
    
    .nav {
        position: initial; /*display: initial on any element, 
        it will set it to inline, even if it's a block element by default*/
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-item {
        margin-left: 3.22em;
    }
    
    .nav-link {
        font-size: 1.6rem;
    }

    .header-home .nav {
        background: transparent;
    } 

}

/* footer - on every page, so general layout */

.footer {
    background: #404040;
    margin-top: 5em;
    padding: 4em 0;
    text-align: center;

    grid-template-areas:
        ". social ."
        ". main ."; 
}

.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.footer-text,
.footer-email {
    color: #fff;
    opacity: .8;
}

.footer-text {
    font-size: 1.8rem;
}

.footer-main {
    grid-area: main;
}

.footer-email {
    font-size: 1.4rem;
    text-decoration: none;
    margin: 3em;
}

.footer-email:hover, .footer-email:focus, .footer-email:active {
    color: #EACD37;
    opacity: 1;
    cursor: pointer;
}

.social-list {
    grid-area: social;
    list-style: none;
    padding: 0;
    margin: 4em 0 2.5em 0;
    display: flex;
    justify-content: center;
}

.social-link {
    color: #fff;
    font-size: 2.8rem;
    margin: 0 .8em;
}

.social-link:hover, .social-link:focus, .social-link:active {
    color: #EACD37;
}

/* ============================================================================================================
    HERO
=============================================================================================================== */


/* hero */
/* --- !!! NOTE: Hero grid column and row details are in typography above !!! --- */

.hero {
    height: 80vh;
    margin: 3em auto 10em auto;
}


/* ============================================================================================================
    ABOUT ME
=============================================================================================================== */

.container-me {
    background: linear-gradient(90.01deg, #DD4B25e6 0.01%, #EACD37a5 99.36%);
    margin: 15em;
}

.about-me {
    display: grid;
    grid-column: 2 / -2;
    align-items: center;
    justify-items: end;
    margin: 10em 0 7em 0;
    padding: 5em 2em;

    background-color: #DD4B25;
    border-radius: 500px;
    color: white;

}

.about-me--text {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 8;
}

.about-me--text p {
    font-size: 1.8rem;
    margin: 0.5em 0;
}

.about-me--heading {
    margin: 0;
    padding: 0;
}

.about-me--image {
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
    height: 90%;
    width: 90%;
    background-color: beige;
    grid-column: 8 / -1;
}


/* ============================================================================================================
    Skills
=============================================================================================================== */


.stack-flex {
    display: flex;
    justify-content: space-around;
    grid-column: 4 / -4;
    grid-row: 1;
    padding-bottom: 3em;
}

.stack-link {
    font-size: 5rem;
    opacity: 0.7;
    margin: 0 1em;
    padding: 0;
}

.js {
    color: #EACD37;
}

.html5 {
    color: #254BDD;
}

.css3 {
    color: #DD4B25;
}

.figma {
    color: blue;
}

.git {
    color: #DD4B25;
}

.tailwind {
    width: 7rem;
}

.languages-grid {
    display: grid;
    grid-column: 4 / -4;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 7em;    
}

.lingo-level {
    text-align: center;
}



/* ============================================================================================================
    PROJECTS
=============================================================================================================== */

.projects--h {
    margin-bottom: 0.25em;
}

.projects p {
    font-size: 1.8rem;
    max-width: 80%;
    
}

.projects--box p {
    margin-left: auto;
    margin-right: auto;
    
}

.projects--heading {
    grid-column: 2 / -2;
    grid-row: 1;
}

.chingu {
    grid-column: 2 / 7;
    grid-row: 3;
    box-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);

    background: linear-gradient(180deg, rgba(37, 75, 221, 0.42) 0%, rgba(37, 75, 221, 0) 100%);
}

.theatres {
    grid-column: 7 / 12;
    grid-row: 3;
    box-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);
    background: linear-gradient(180deg, rgba(234, 205, 55, 0.34) 0%, rgba(234, 205, 55, 0) 100%);
}

.snake {
    grid-column: 2 / 7;
    grid-row: 4;
    box-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);
    background: linear-gradient(180deg, rgba(221, 75, 37, 0.38) 0%, rgba(221, 75, 37, 0) 100%);
}

.projects--box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4em;
    padding: 5em 2em;
    border-radius: 20px;
}

.product-image {
    max-width: 100%;
    width: 50rem;
    margin: 0 auto 2em auto;
    border-radius: 7px;
    box-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);
    
}

.projects--flex-btm-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40rem;
}


/* ============================================================================================================
    TEMPLATE for projects
=============================================================================================================== */

.gray-bg {
    background-color: #ececec;
}


/* ============================================================================================================
    Intro
================================================================ */

.intro {
    margin: 6em auto;
}

.intro--title {
    grid-column: 2 / -2;

    margin: 0 0 1em 0;
    padding: 0;

    font-size: 5rem;
    text-shadow: none;
    text-align: center;
}

.intro--stack {
    margin-top: 2em;
}

.intro--para {
    grid-column: 2 / -2;

    margin: 0 0 1.5em 0;
    padding: 0;
}

.intro--para-col-1 {
    grid-column: 2/3;
    margin: 0.5em 0;
}

.intro--para-col-2 {
    grid-column: 4/7;
    margin: 0.5em 0;
}

/* ============================================================================================================
    Hero
================================================================ */

.project-hero {
    grid-column: 2/-2;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 8em auto;
    box-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);
}

/* ============================================================================================================
    Project Requirements
================================================================ */

.p-req {
    /* background: linear-gradient(96.01deg, #EACD37 13.99%, rgba(234, 205, 55, 0.67) 107.35%); */
    background-color: #EACD37;
    margin-bottom: 5em;
    padding-bottom: 10em;
}

.p-req--title {
    grid-column: 2 / -2;
    margin: 1em 0;
    text-align: center;
}

.p-req--subheading {
    margin: 0 0 1em 0;
}

.p-req--para {
    grid-column: 2 / -7;

    margin: 0;
    padding: 0;
}

.p-req--image {
    width: 400px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);
}

.p-req  li {
    font-size: 1.6em;
}

.img-l {
    grid-row: 3;
    grid-column: 8/9;
    z-index: 1;
}

.img-c {
    grid-row: 2;
    grid-column: 8;
    align-self: end;
    z-index: 10;
    
}

.img-r {
    grid-row: 3;
    grid-column: 10/11;
    z-index: 100;
}

/* ============================================================================================================
    Process
================================================================ */

.process {
    margin-bottom: 5em;
}

.process--heading {
    grid-column: 2 / -2;

    margin: 0 0 1em 0;
    padding: 0;

    /* font-size: 3.6rem; */
    text-shadow: none;
    text-align: center;
}

.process--step {
    grid-column: 2 / -2;
    /* align-items: center; */

    display: flex;
    

    margin: 0 0 10em 0;
    padding: 0;
}

/* grid in grid instead of flexbox? */
/* .process--grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    align-items: stretch;
    justify-items: start;
    justify-content: end;
    align-content: space-evenly;
} */

.step-bubble-l {
    /* grid-column: 3/7; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2em;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    
}

.step-bubble-r {
    grid-column: 7/13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    padding: 2em;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    /* justify-content: center; */
}

.bubble-yellow {
    background-color: #EACD37;
}

.bubble-orange {
    background-color: #DD4B25;
}

.bubble-blue {
    background-color: #254BDD;
}

.process--para {
    /* width: 60%; */
    /* grid-column: 3; */
    margin: 0 2em;
    padding: 1em 0;
}

.process--image {
    width: 75%;
    margin: 4em auto;
    border-radius: 7px;
    box-shadow: 6.7px 13.4px 13.4px hsl(0deg 0% 0% / 0.29);
}

/* ============================================================================================================
    Process
================================================================ */

.bugs {
    align-content: center;
    margin-bottom: 10em 0;
    padding: 10em 0;
    background-color: #fff;
    min-height: 50vh;
}

.bugs--heading {
    grid-column: 2 / -2;

    margin: 0;
    padding: 0;

    /* font-size: 3.6rem; */
    text-align: center;
    text-shadow: none;
}

.bugs--para {
    grid-column: 4 / -4;

    margin: 0;
    padding: 0;

    text-align: center;
}

.bugs li {
    font-size: 1.6em;
}

.next-steps {
    padding: 10em 0;
}