* {box-sizing: border-box;}

html {
    font-size: 0.625rem;  
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.5; /* the default of 1 is too crushed. Start at 1.5 and play around*/
}

/*good idea on all sites to default all images to this. And display:block can solve an occasional spacing issue.
But can also cause others, so keep in mind*/
img {
    max-width: 100%;
    width: 100px;
}

/* ============================================================================================
===============================================================================================
    TYPOGRAPHY       ==========================================================================
===============================================================================================
=============================================================================================== */


h1, h2, .hero-js, .hero-html, .hero-css, strong, .lingo {
    /* Good idea to stop you later typing 'bold' and forgetting it only goes up by 100pts */
    font-weight: 700;
}

h3, .semibold {
    font-weight: 600;
}

h1, .hero-js, .hero-html, .hero-css {
    font-size: 12rem;
    margin: 0;
    padding: 0;
    /* line-height: 18.8rem; */
}

.hero-js, .hero-html, .hero-css {
    letter-spacing: -5px;
    text-align: right;
}

.stroke-text{
    -webkit-text-fill-color:transparent;
  }

.hero-js {
    -webkit-text-stroke: 8px #BCA736d4;
    grid-column: 7/-2;
    grid-row: 1;
}

.hero-html {
    -webkit-text-stroke: 8px #DD4B25d4;
    grid-column: 8/-2;
    grid-row: 2;
}

.hero-css{
    -webkit-text-stroke: 8px #254BDDd4;
    grid-column: 8/-2;
    grid-row: 3;
}

.hi {
    grid-column: 2/4;
    grid-row: 2;
}

.chris {
    grid-column: 2/7;
    grid-row: 3;
}

.logothetis {
    grid-column: 2/8;
    grid-row: 4;
}

h2 {
    font-size: 8rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

/* ============================================================================================
===============================================================================================
   LAYOUT - MOBILE FIRST   ====================================================================
===============================================================================================
=============================================================================================== */

/* ==================
    general layout
===================== */

.main-grid {
    /* minmax on narrow, outer columns a good start. Then 260-500 screen size 
    smallest device are over 300, so could be 0 really */
    display: grid;
    /* grid-template-columns: minmax(120px) repeat(10, minmax(1fr, 120px)) minmax(120px); */
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

/* .hero-title {
    grid-column: 2/9;
} */




/* navigation */

.header {
    background: linear-gradient(90.01deg, rgba(234, 205, 55, 0.4) 0.01%, rgba(221, 75, 37, 0.408) 49.17%, rgba(37, 75, 221, 0.408) 99.36%);
}

.header-home {
    background: transparent;
    position: absolute;
    width: 100%; /*without this the absolute header would stretch 
    the whole screen and not align with the coloumns below*/
}

.header-content {
    display: flex;
    grid-column: 2/11;
}

/* .logo-link {
    background-color: #FFE600;
    padding-top: 1em;
} */

.nav {
    position: fixed; /* for mobile, to cover screen when pops out*/
    background: #000;
    width: 100%;
    /* 0 0 0 0 fills the screen with background color*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms; 
}

.navigation-open { 
    transform: translateX(-100%);
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* 100% height spreads the three links the length of the viewport*/
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 4.8rem;
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
    color: #FFE600;
}

.close-nav {
    border: 0;
    background: 0;
    color: #FFE600;
    font-weight: 700;
    font-size: 4.8rem;
    cursor: pointer;
    padding: .8em;
    position: absolute; /*otherwise it pushes the three links down and user needs to scroll*/
}

.open-nav {
    border: 0;
    background: 0;
    color: #fff;
    cursor: pointer;
    padding: .8em;
    margin-left: auto;
    font-size: 2.4em;
}

.current {
    border-bottom: 1px solid #FFE600;
}

@media (min-width: 600px) {
    .open-nav,
    .close-nav {
        display: none;
    }
    
    .nav {
        position: initial; /*display: initial on any element, 
        it will set it to inline, even if it's a block element by default*/
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .nav-item {
        margin-left: 3.22em;
    }
    
    .nav-link {
        font-size: 1.6rem;
    }

    .header-home .nav {
        background: transparent;
    } 

}

/* footer - on every page, so general layout */

.footer {
    background: #404040;
    padding: 4em 0;
    text-align: center;

    grid-template-areas:
        ". social ."
        ". main ."; 
}

.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.footer-text,
.footer-email {
    color: #fff;
    opacity: .8;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-main {
    grid-area: main;
}

.footer-email {
    font-size: 1.4rem;
    text-decoration: none;
    margin-top: 4em;
}

.footer-email:hover, .footer-email:focus, .footer-email:active {
    color: #cfd8f8;
    opacity: .2;
    cursor: pointer;
}

.social-list {
    grid-area: social;
    list-style: none;
    padding: 0;
    margin: 0 0 3.2em;
    display: flex;
    justify-content: center;
}

.social-link {
    color: #fff;
    font-size: 2.8rem;
    margin: 0 .8em;
}

.social-link:hover {
    color: #777;
}